header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 60px;

  & > #wordmark {
    font-family: Montserrat;
    font-size: 30px;
    color: var(--text-color);
    font-weight: 600;
    animation: wordmark-entry 1s forwards ease-out;

    @keyframes wordmark-entry {
      from {
        margin-left: -60px;
        opacity: 0;
      }
      to {
        margin-left: 0px;
        opacity: 1;
      }
    }
  }

  & > nav {
    display: flex;
    flex-direction: row;
    animation: nav-entry 1s forwards ease-out;

    @keyframes nav-entry {
      from {
        margin-right: -60px;
        opacity: 0;
      }
      to {
        margin-right: 0px;
        opacity: 1;
      }
    }

    & > a {
      position: relative;

      text-decoration: none;

      margin-left: 30px;

      & > .hover-indicator {
        position: absolute;
        left: 2px;
        top: -2px;
        height: 2px;
        width: 0px;
        border-radius: 1px;

        background: var(--accent-color);

        transition: width 0.2s;
      }

      &:hover > .hover-indicator {
        width: 20px;
      }

      & > .title {
        font-family: Montserrat;
        font-size: 24px;
        color: var(--text-color);
        font-weight: 500;
      }
    }
  }
}