main#project-detail {
  & > h1 {
    font-size: 48px;
    font-family: Montserrat;
    color: var(--text-color);
  }

  & > #description {
    font-size: 18px;
    font-family: Montserrat;
    color: var(--text-color);
  }

  & > section#comments {
    max-width: 300px;

    & > #header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      & > h2 {
        margin-top: 0;
      }

      & > .controls {
        &.hidden {
          display: none;
        }
      }
    }

    & #comments-list {
      & > .comment {
        background: var(--comment-bg-color);

        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;

        & > .message {
          font-size: 12px;
          font-family: Montserrat;
          color: var(--comment-text-color);
        }
      }
    }

    & > form#new-comment {
      background: var(--comment-bg-color);
      border-radius: 4px;

      padding: 8px;
      margin-top: 8px;

      display: flex;
      flex-direction: column;

      &.hidden {
        display: none;
      }

      & > textarea {
        background: none;
        border: none;

        font-family: Montserrat;
        color: var(--comment-text-color);
      }

      & > input[type="submit"] {
        background: var(--tag-bg-color);
        border: none;
        border-radius: 2px;

        font-family: Montserrat;
        font-weight: 600;
        color: var(--text-color);

        padding: 4px;
        margin-left: auto;
        margin-top: 4px;
      }
    }
  }
}
