main#project-detail {
  & > h1 {
    font-size: 48px;
    font-family: Montserrat;
    color: var(--text-color);
  }

  & > #description {
    font-size: 18px;
    font-family: Montserrat;
    color: var(--text-color);
  }

  & > section#comments {
    max-width: 400px;

    & > #header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      margin-bottom: 8px;

      & > h2 {
        margin-top: 0;
        margin-bottom: 0;
      }

      & > .controls {
        &:hover{
            cursor: pointer;
        }
        &.hidden {
          display: none;
        }

        &#auth-button {
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 500;
            padding: 0;
            margin: 0;
            background: none;
            text-decoration: underline;
        }
      }
    }

    & #comments-list {
      margin-top: 8px;

      & > .comment {
        background: var(--comment-bg-color);

        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;

        & > .email {
          font-size: 12px;
          font-family: Montserrat;
          color: var(--comment-text-color);
          font-weight: 600;
        }
        & > .message {
          font-size: 12px;
          font-family: Montserrat;
          color: var(--comment-text-color);
        }
      }
    }

    & > form#new-comment {
      background: var(--comment-bg-color);
      border-radius: 4px;

      padding: 8px;

      display: flex;
      flex-direction: column;

      &.hidden {
        display: none;
      }

      & > textarea {
        background: none;
        border: none;

        font-family: Montserrat;
        color: var(--comment-text-color);
      }

      & > input[type="submit"] {
        background: var(--tag-bg-color);
        border: none;
        border-radius: 2px;

        font-family: Montserrat;
        font-weight: 600;
        color: var(--text-color);

        padding: 4px;
        margin-left: auto;
        margin-top: 4px;
      }
    }

    & > #controls {
        display: flex;
        flex-direction: row;

        & > .control {
            width: fit-content;
            background: none;
            border: none;

            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            color: var(--text-color);
            text-decoration: underline;
            cursor: pointer;

            padding: 0px;
            margin-right: 8px;

            &.hidden {
                display: none;
            }
            &.selected {
                font-weight: 600;
            }

            &#set-language {
                width: 0;
                flex-grow: 1;
                margin-right: 0px;
                text-align-last: right;
            }
        }    
    }
  }
}
