@import 'header.scss';
@import 'landing-page.scss';
@import 'projects-page.scss';
@import 'personal-page.scss';

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  margin: 0;
}

main {
  height: 0;
  flex-grow: 1;

  padding: 60px;
  padding-top: 0px;

  & > #watermark {
    position: absolute;
    left: calc(100% - 60px);
    bottom: 60px;

    transform: rotate(-90deg);
    transform-origin: bottom left;

    font-family: Montserrat;
    font-size: 12.5vh;
    line-height: 10vh;
    color: #e6e6e6;
    font-weight: 600;

    animation: entry 1.8s forwards ease-out;
    z-index: 50;

    @keyframes entry {
      from {
        margin-bottom: -120px;
        opacity: 0;
      }
      to {
        margin-bottom: 0px;
        opacity: 1;
      }
    }
  }

  & h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
  }

  & h2 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;

    margin-top: 48px;
  }

  & p,
  & li {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  & a {
    background: #4ce2b5;
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 3px 8px;
    margin: 4px;
    border-radius: 32px;
  }
}
