<header>
    <a id="wordmark" href="/">Jay Mohile</a>
    <nav>
        <span id="theme-toggle" class="fas fa-adjust" onclick="toggleTheme()"></span>
        <div id="social-links">
            <a href="https://github.com/jamohile" target="_blank" class="fab fa-github"></a>
            <a href="https://medium.com/@jamohile" target="_blank" class="fab fa-medium"></a>
            <a href="https://linkedin.com/in/jamohile" target="_blank" class="fab fa-linkedin"></a>
        </div>
        <a href="/personal.html">
            <div class="hover-indicator"></div>
            <div class="title">Personal</div>
        </a>
        <a href="/projects.html">
            <div class="hover-indicator"></div>
            <div class="title" >Projects</div>
        </a>
    </nav>
</header>