body {

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 60px;
}

header > #wordmark{
    font-family: Montserrat;
    font-size: 30px;
    color: black;
    font-weight: 600;
}

header > nav {
    display: flex;
    flex-direction: row;
}

header > nav > a{
    position: relative;

    text-decoration: none;

    margin-left: 30px;
}

header > nav > a > .hover-indicator{
    position: absolute;
    left: 2px;
    top: -2px;
    height: 2px;
    width: 0px;
    border-radius: 1px;

    background: #4CE2B5;

    transition: width 0.2s;
}

header > nav > a:hover > .hover-indicator{
    width: 20px;
}

header > nav > a > .title {
    font-family: Montserrat;
    font-size: 24px;
    color: black;
    font-weight: 500;
}